.site-header{
    display: flex;
    justify-content: space-between;
    flex: 1 0 100%;
}

.site-header span h3{
    color: purple;
}
.site-header span p{
    font-size: 0.6em;
    text-transform: uppercase;
    line-height: 1.1;
}